<footer class="footer footer-background">
  <div class="pb-2 pt-2">
    <p class="copy-rights mx-auto p-0 font-family"> Copyright 2022 &#169; Book My Show Pvt.Ltd.AllRights Reserved.
      <br>The content and the images used are copyright protected and copyrights vests with the respective owners.The
      usage of the content and images is intended to promote the works and no endorsement of the artist shall be
      implied.
      <br>Unauthorised use is prohibited and punishable by law.
    </p>
  </div>
</footer>