<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/MovieCoverImages/KGF.jpg" class="image" alt="KGF">
    </div>

  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/MovieCoverImages/major.jpg" class="image" alt="major">
    </div>

  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/MovieCoverImages/SVP.jpg" class="image" alt="SVP">
    </div>

  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/MovieCoverImages/aacharya.jpg" class="image" alt="SVP">
    </div>

  </ng-template>
</ngb-carousel>